<div class="container mt-4 mb-4">
    <h2>Categories :</h2>
    <div class="d-flex gap-3 !direction !spacing">
        <div *ngFor="let category of categories" class="card d-flex" style="width:18rem;">
            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60"
                class="card-img-top" alt="..." style="max-height: 25vh;object-fit: cover;">
            <div class="card-body">
                <h5 class="card-title">
                    {{category.name}}</h5>
                <div class="d-flex justify-content-between">
                    <a href="#" class="btn btn-secondary"
                        [routerLink]="['/categories', category.id,'products']">products</a>
                    <a href="#" class="btn btn-warning" [routerLink]="['/categories',category.id]">show category</a>
                </div>
            </div>
        </div>
    </div>
</div>